h1, h3, table, th {
	color: black;
	text-align: left;

}

h3, td {
    font-style: normal;
}

td {
    border: 1px solid #dddddd;
	width: 120px;
	height: 36px;
}

button {
    border: 1px solid #dddddd;
	width: 80px;
	height: 30px;
}

.menu {
    border: 1px solid #dddddd;
	width: 150px;
	height: 80px;
	font-size: 36px;
}

div input {
    display: block;
    padding: 5px 8px;
}

div button {
    display: inline-block;
    padding: 8px;
    border: 1px solid #dddddd;
}