<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add pet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<form id="add-pet-form" th:action="@{/pet/add}" th:method="post" action="add-pet-page.html">
    <h1>Pet Info:</h1>

    <div class="row">
        <label for="species-input">Species:</label>
        <input id="species-input" name="species" type="text" value=""/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a th:href="@{/pet}" href="pets-page.html">Back</a>
    </div>
</form>

</body>
</html>