<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<form id="edit-form" th:action="@{/user/{id}/delete(id=${userDto.id})}" th:method="post" action="delete-user-page.html">
    <h1>User</h1>

    <div class="row">
        <label for="title-input">Name:</label>
        <input id="title-input" name="name" type="text" readonly="readonly" th:value="${userDto.name}" value="Default Name"/>
    </div>

    <div class="row">
        <button type="submit">Delete</button>
        <a th:href="@{/user}" href="users-page.html">Back</a>
    </div>
</form>

</body>